{% load static %}

{% load crispy_forms_tags %}

<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

	<link href="{% static 'css/style.css' %}" rel="stylesheet">

	<style type="text/css">
		
		.asteriskField {
			    display: none;
			}
		
	</style>

</head>
<body>

	<div class="container">
		
		<div class="navbar navbar-expand-lg navbar-light bg-light">
			
			<h3 class="heading">Details of: {{object.first_name|add:" "|add:object.last_name}}</h3>

		</div>

	</div>

	<div class="container">

		<div class="jumbotron">

			<form method="post">
				{% csrf_token %}
			    {% crispy form form.helper %}
			</form>

		</div>

	</div>

</body>
</html>