{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bootstrap Simple Data Table</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

	<!-- <link href="{% static 'css/style.css' %}" rel="stylesheet">
	<script src="{% static 'js/script.js' %}"></script> -->

	<style type="text/css">
		
		table{
            width:100%;
            }

		#example_filter{
		    float:right;
		}

		#example_paginate{
		    float:right;
		}

		label {
		    display: inline-flex;
		    margin-bottom: .5rem;

		    margin-top: .5rem;
		   
		}

        .table-row{
            cursor:pointer;
            }

        .navbar-index {
            margin-bottom: 20px;
            }


	</style>

	<!-- <script type="text/javascript" src="{% static 'js/script.js' %}"></script> -->
    <script type="text/javascript">
        
        $(document).ready(function() {
    $(".table-row").click(function() {
        window.document.location = $(this).data("href");
    });
});

        $(document).ready(function() {
          $('#example').DataTable({

            "iDisplayLength": 10,
            "aLengthMenu": [[10, 20, -1], [10, 20,"All"]]
            
            // "aLengthMenu":[[5, 10, 25, -1], [5, 10, 25, "All"]],
            //   "iDisplayLength": 10,
            //   "iDisplayStart":10
             } 
              );
      } );

    </script>

</head>
<body>

    <div class="container">
        
        <div class="navbar navbar-index navbar-expand-lg navbar-light bg-light">
            <h3 class="heading">Employees List</h3>
        </div>

    </div>
    
    <div class="container">
        
        <div class="navbar navbar-expand-lg navbar-light bg-light">
            <a href="{% url 'emp:emp-create' %}" class="btn btn-outline-primary">Create a new record</a>
        </div>

    </div>

    <div class="container">
	<div class="row">
	<table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <!-- <th><input type="checkbox" onclick="checkAll(this)"></th> -->
                <th>ID</th>
                <th>Name</th>
                <th>Designation</th>
                <th>Branch</th>
                <th>DOB</th>
                <th>Email</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
        	
        	{% for obj in emp_list %}
            <tr class="table-row" data-href="{% url 'emp:emp-detail-update' obj.id %}">
                <!-- <td><input type="checkbox" name=""></td> -->
                <td>{{obj.id}}</td>
                <td>{{obj.first_name| add:" "| add:obj.last_name}}</td>
                <td>{{obj.designation}}</td>
                <td>{{obj.branch}}</td>
                <td>{{obj.dob}}</td>
                <td>{{obj.email}}</td>
                <td>{{obj.salary}}</td>
            </tr>
            {% endfor %}
        </tfoot>
    </table>
	</div>
    </div>     
</body>
</html>                                		                            